* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header {
    display: grid;
    grid-template-rows: auto auto auto;
} */


/* Login bar or we can say topmost header */
.top-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #232b38;
}

.social-link, .login-link {
    padding: .8em;
}

.social-link a {
    padding: .5em;
    color: white;
}

.login-link a {
    color: white;
    text-decoration: none;
    font-family: prototype, Arial, Helvetica, sans-serif;
    padding-right: .5em;
    border-right: .1em solid white;
}

.login-link a:hover {
    color: orange;
}

.login-link a:last-child {
    border: none;
}

.social-icon:hover, .fa-solid.fa-clock-nine {
    color: orange;
}


/* mid-header portion  */
.mid-header {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.mid-header-column1, .mid-header-column3 {
    display: flex;
    padding: 1em;
    font-size: 1em;
    font-family: prototype, Arial, Helvetica, sans-serif;
}

.mid-header-column2 {
    font-size: 3em;
    font-weight: 700;
    color: orange;
    font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
}

.fa-phone {
    color: orange;
    vertical-align: super;
    font-size: 1.5em;
    padding-right: .2em;
}

/* Main Navbar or last header */
nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    box-shadow: 0.1em 0.1em 0.8em rgb(146, 146, 146);
}

nav a {
    text-decoration: none;
    color: black;
    font-family: adventure, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 1rem;
    text-align: center;
}

nav a:hover {
    background-color: orange;
    color: white;
    height: 100%;
}


/* Section part of the website */
.row1-image {
    background-image: url('../images/food.jpg');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row1-content {
    position: absolute;
    transform: translate(10%, -100%);
    padding-bottom: 2em;
}

.row1-content p {
    font-size: 2em;
    font-family: cursive;
    user-select: none;
}

.row1-content p span {
    font-size: 2em;
    color: orange;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 5px 3px black;
    user-select: none;
}

.row1-content h3 {
    font-size: 3em;
    font-family: electrical, magneto, arial;
    color: black;
    user-select: none;
}

.btn {
    padding: 0.6em 1.2em;
    font-size: 1em;
    margin-right: .7em;
    color: white;
    border: none;
    border-radius: .3em;
}

.btn.lft {
    background-color: black
}

.btn.lft:hover {
    background-color: white;
    color: orange;
    border: .1em solid black;
    cursor: pointer;
}

.btn.rgt {
    background-color: white;
    color: black;
    border: .1em solid orange;
}

.btn.rgt:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.top-product {
    margin: 0;
    border: 1px solid black;
    height: 500px;
}

.top-product .container {
    margin: auto 12rem;
    text-align: center;

}

.top-product .container h2 {
    font-family: They Perished, 'Rubik', sans-serif;
}

.about-fresh-meal {
    text-align: center;
    margin: 5rem 12rem;
}

.about-fresh-meal h2 {
    font-family: They Perished, 'Rubik', sans-serif;
}

.about-fresh-meal .container {
    display: flex;
    flex-direction: row;
}

.about-fresh-meal img {
    margin-bottom: 3rem;
}

.row3-image img {
    width: 500px;
    margin-right: 5rem;
    padding-right: 2rem;
}

.row3-content {
    position: relative;
    text-align: left !important;
}

.row3-content h2 {
    margin-bottom: 2rem;
    font-family: 'Rubik', sans-serif;
}

.row3-content p {
    font-family: 'Didact Gothic', sans-serif;

}

.row3-btn {
    background-color: black;
    position: absolute;
    bottom: 0;
}

.row3-btn:hover {
    background-color: white;
    color: orange;
    border: .1em solid black;
    cursor: pointer;
}

.other-services {
    text-align: center;
    margin: 5rem 12rem;
}

.other-services img {
    margin-bottom: 3rem;
}

.other-services>h2 {
    font-family: They Perished, 'Rubik', sans-serif;
}

.other-services .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.other-services .container .box {
    text-align: center;
}

.row4-btn {
    background-color: black;
    position: absolute;
}

.row4-btn:hover {
    background-color: white;
    color: orange;
    border: .1em solid black;
    cursor: pointer;
}










@media (max-width: 800px) {
    .top-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .social-link {
        display: none;
    }

    .mid-header {
        padding: 1em;
        justify-content: space-between;
    }

    .mid-header-column1, .mid-header-column3 {
        font-size: 0;
        padding: .1em;
    }

    .mid-header-column2 {
        font-size: 1.5em;
    }

    nav a {
        flex: 100%;
        font-size: 1em;
        padding: .5em;
    }
}